.suggestions-container {
    margin: 30px 20px 0 0;

    .sugg-title {
        color: grey;
        font-weight: bold;        
    }

    .sugg-username-container {
        .sugg-username {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            .user-left {
                display: inline;

                .user-info {
                    display: flex;
                    flex-direction: column;

                    .user-relation {
                        color: grey;
                        font-size: .8rem;
                    }
                }
            }

            .user-right {
                .action {
                    color: #0095f6;
                    font-weight: bold;
                    background: 0;
                    border: 0;
                }
            }
        }
    }
}